@import 'reset';
@import 'variables/general';
@import 'themes/light';
@import 'themes/dark';

.app {
    height: 100vh;
    font-family: var(--font-family);
    font-size: var(--font-size-regular);
    line-height: var(--line-height-regular);
    color: var(--text-color);
    background-color: var(--background-color);
}

.main {
    display: flex;
    height: calc(100vh - var(--header-height));
}

.content {
    flex-grow: 1;
    padding: 20px;
}