:root {
    --font-family: 'Inter', sans-serif;
    --font-size-regular: 20px;
    --font-size-heading: 56px;
    --line-height-regular: 28px;
    --line-height-heading: 68px;

    // sizes
    --header-height: 80px;
    --side-bar-width: 300px;
    --side-bar-collapsed-width: 80px;

    // colors
    --main-light-color: #fff;
    --main-dark-color: #323232;
    --secondary-dark-color: #2C2738;

    //shadows
    --header-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    --side-bar-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.10);
}